---
interface Props {
	title: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, title } = Astro.props;
---

<div class:list={['hero', align]}>
	<h1 class="title">{title}</h1>
	{tagline && <p class="tagline">{tagline}</p>}
	<slot />
</div>

<style>
	.hero {
		text-align: center;
	}

	.start {
		text-align: left;
	}

	.title {
		font-size: var(--text-3xl);
		margin-bottom: 0.75rem;
	}

	.tagline {
		font-size: var(--text-md);
		color: var(--gray-400);
		max-width: 48ch;
		line-height: 1.6;
	}

	.start .tagline {
		margin-inline: 0;
	}

	.hero:not(.start) .tagline {
		margin-inline: auto;
	}

	@media (min-width: 50em) {
		.title {
			font-size: var(--text-5xl);
		}

		.tagline {
			font-size: var(--text-lg);
		}
	}
</style>
